@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Oswald', sans-serif;
}

h1 {
	color: #fff;
	font-size: 26px;
	font-weight: 500;
}

.slant {
	text-transform: uppercase;

    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -7deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -7deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -7deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -7deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -7deg);
}