.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

header {
	padding-top: 30px;
}

footer {
	color: #fff;
	height: 50px;
	margin-top: 100px;
	text-align: center;
}

.acts-logo {
	display: block;
	text-align: right;
}

.cta-button {
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	height: 100px;
	width: 280px;

	&#letsgo {
		background: url(images/yesletsgo_normal.png) no-repeat;

		&:hover {
			background: url(images/yesletsgo_hover.png) no-repeat;
		}
	}

	&#takequiz {
		background: url(images/takethequiz_normal.png) no-repeat;

		&:hover {
			background: url(images/takethequiz_hover.png) no-repeat;
		}
	}
}

.home {
	.site-main {
		margin: 50px 0;
	}

	h1 {
		text-align: center;
	}

	.quiz {
		// margin-top: 50px;
	}
}

.dt-page {
	margin-top: 50px;

	a {
		text-decoration: none;
	}

	.circle {
		margin-bottom: 30px;
	}

	.dream-team {
		background: url('images/button_bg-01.png') repeat;
		border-radius: 50%;
		color: $color__red;
		height: 150px;
		font-weight: 500;
		line-height: 150px;
		overflow: hidden;
		text-align: center;
		text-transform: uppercase;
		width: 150px;

		&:hover {
			background: $color__orange;
			color: #fff;
		}

		span {
			-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -10deg);
			-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -10deg);
			-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -10deg);
			-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -10deg);
			transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, -10deg);

			display: inline-block;
			font-size: 16px;
			vertical-align: middle;
		}
	}

	.desc {
		display: none;
	}
}

.signuplink {
	color: #fff !important;
	font-size: 20px;
	text-align: center;
	text-decoration: none;

	&:hover {
		color: $color__yellow !important;
	}
}

.fancybox-slide>* {
	background: $color__green !important;
	border: 10px solid $color__yellow !important;
	color: #fff;
	max-width: 800px;
	overflow: visible !important;
}